* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

form {
    width: 500px;
}

.error {
    border: 3px solid rgb(175, 39, 39);
    color: rgb(175, 39, 39);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.error>p {
    margin: 5px 0;
}