:root {
    --error-color: rgb(175, 39, 39);
    --accent-color: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

form {
    width: 500px;
}

.error {
    border: 3px solid var(--error-color);
    color: var(--error-color);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.error>p {
    margin: 5px 0;
}

/* chat */

section {
    background-color: #212652;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#chat {
    height: 90vh;
    width: 50vw;
}

#chat .form-control {
    border-color: transparent;
}

#chat .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

div.card {
    border-radius: 15px;
    min-width: 600px
}

div.card-body__leave {
    height: 5%;
}

div.card-body__leave>div>button {
    width: 5rem;
    height: 2.5rem;
}

div.card-body__chat {
    height: 95%;
}

div.card-body__chat>div {
    height: 100%;
    overflow: hidden;
}

div.chat-navigation {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

div.chat-navigation__users {
    height: 80%;
}

div.chat-navigation__users p.small {
    font-size: 0.7rem
}

.chat-navigation::-webkit-scrollbar {
    display: none;
}


div.chat-window {
    position: relative;
    overflow-x: hidden;
}

div.chat-window__messages {
    width: 100%;
    height: 100%;
}

div.chat-window__messages>ul {
    height: 80%;
    overflow-y: scroll;
}

div.chat-window__messages>ul::-webkit-scrollbar {
    display: none;
}

div.chat-window__input {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p.time {
    font-size: 0.8rem;
}

div.avatars-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

div.avatars-option p {
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

div.avatars-option img {
    width: 60px;
}

img.avatar {
    width: 40px;
    height: 100%
}